body{
    display: flex;
    margin: 0px;
    height: 100vh;
}
aside{
    width:40%;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: auto 100vh;
    color: white;
    position: relative;
}
main{
    display: flex;
    flex-direction: column;
}

.gray-backgnd{
    background-color: rgb(240, 243, 245);
}
/* .heading-section,.button-section{
   /*  display: inline-block; */
    /* height: 37.5%;
} */
.heading-section,.form-section,.button-section{
    padding:20px;
}
.heading-section>p{
    width:60%;
}
#logo-img{
    width:20%;
    height:auto;
}
.logo-section{
    display: flex;
    position: absolute;
    top:23%;
    width: 100%;
}